// color
$color-primary: #d1898b;
$color-secondary: #eedacb;

$color-background-product: #f0f3f4;
$color-background-review: #f0f3f4;
$color-background-social-media: #ebebeb;
$color-background-newsletter: #1c1c1c;
$color-background-menu: #1c1c1c;

// font family
$font-poppins: "Poppins", sans-serif;
$font-OpenSans: "Open Sans", sans-serif;
