// color
$color-primary: #d1898b;
$color-secondary: #eedacb;

$color-background-product: #f0f3f4;
$color-background-review: #f0f3f4;
$color-background-social-media: #ebebeb;
$color-background-newsletter: #1c1c1c;
$color-background-menu: #1c1c1c;

$color-tertiary: #99e2d0;
$color-background-search: #eaeaea;
$color-background-grey: #f6f6f6;

$color-background-new: #99e2d0;
$color-background-new_title: #008766;
$color-arrow-left: #353535;
$color-background-btn-hover: #f5edff;

// font family

$font-poppins: "Poppins", sans-serif;
$font-OpenSans: "Open Sans", sans-serif;
