.product-see-more {
  margin: 5% auto 2% auto;

}

.product-more1 {
  border: #D1898B 1px solid;
  width: 166px;
  height: 43px;
  position: relative;
  top: -10px;
  left: 15px;
}

.product-more2 {
  display: flex;
  margin: 20px;
  border: #D1898B 1px solid;
  width: 165px;
  height: 43px;
  position: relative;
  bottom: 70px;
}

.product-more2 a {
  font-family: "Open Sans", sans-serif;
  color: #D49698;  
  font-size: 17px;
  text-decoration: none;
  padding-left: 40px;
  padding-top: 5px;
}
