.product-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
}

.product-card-content {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  transition: transform .1s;   
}

.product-card-content:hover {
  transform: scale(1.1); 
  
}

.product-card-content:hover .products-card-image {
box-shadow: 15px 11px 50px -15px #000000;
}


.product-card-content a {
  text-decoration: none;
}

.product-card__image {
  width: 100%;
  box-shadow: 15px 11px 50px -15px rgba(75, 75, 75, 0.77);
}

.product-card__description {
  font-family: "Poppins", sans-serif;
  color: #d1898b;
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
  margin-top: 15%;
}



@media only screen and (max-width: 768px) and (max-width: 1388px) {
  .product-cards {
    display: flex;
    
    justify-content: center;
    
  }

  .product-card-content {
    width: 45%;
    border-bottom: #d1898b 2px solid;
    margin-bottom: 5%;  
  }

  .products-card-image {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .product-card__description {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .product-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .product-card-content {
    width: 100%;
    border-bottom: #d1898b 2px solid;
    margin-bottom: 10%;  
  }

  .products-card-image {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .product-card__description {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 10%;
  }
}

