.newsletter-content-card {
  margin-left: 5%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.newsletter-content {
  max-width: 70%;
  margin-top: 10%;
  padding-left: 50px;
}

.newsletter-content p {
  color: #eedacb;
}

.newsletter-content__title {
  font-size: 21px;
}

.newsletter-content h2 {
  color: #d1898b;
  font-size: 40px;
}

.newsletter-content__text {
  font-size: 29px;
}

@media only screen and (max-width: 768px) and (max-width: 1388px) {
}

@media only screen and (max-width: 767px) {
  .newsletter-content-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .newsletter-content {
    padding: 0;
    margin: 0;
  }

  .newsletter-content h2 {
    font-size: 34px;
  }

  .newsletter-content__text {
    display: none;
  }
}
