@import "../../sass/div.scss";

.newsletter-logo {
  margin-top: -350px;
  width: 40%;
}

.newsletter__image {
  display: block;
  width: 60%;
  min-width: 200px;
  max-width: 365px;

  @include centring-object;
  margin-top: 80px;
}

@media only screen and (max-width: 767px) {
  .newsletter-logo {
    display: none;
  }
}
