@import "../../sass/font.scss";
@import "../../sass/div.scss";

.newsletter-content-card {
  margin-left: 5%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.newsletter-content {
  max-width: 70%;
  margin-top: 10%;
  padding-left: 50px;
}

.newsletter-content p {
  color: $color-secondary;
}

.newsletter-content__title {
  font-family: $font-OpenSans;
  font-size: 17px;
  letter-spacing: 1px;
}

.newsletter-content h2 {
  font-family: $font-poppins;
  color: $color-primary;
  font-size: 37px;
  letter-spacing: 4px;
}

.newsletter-content__text {
  width: 120%;
  font-size: 29px;
}

@media only screen and (min-width: 768px) and (max-width: 1388px) {
  .newsletter-content-card {
    margin-top: -35px;
  }
}

@media only screen and (max-width: 767px) {
  .newsletter-content-card {
    @include div-middle-column;
    text-align: center;
    width: 100%;
    margin: 30px 0 0 0;
  }

  .newsletter-content {
    padding: 0;
    margin: 0;
  }

  .newsletter-content h2 {
    font-size: 34px;
  }

  .newsletter-content__text {
    display: none;
  }
}
