@import "../../sass/div.scss";

.reviews-content {
  @include div-middle-column;
  margin: 0 0 10% 0;
}

.reviews-card p {
  font-size: 17px;
}

.reviews-image {
  @include div-middle-column;
  margin: 5% 0 12% 0;
}

.reviews-image__stars {
  width: 110%;
}

@media only screen and (max-width: 768px) and (max-width: 1388px) {
}

@media only screen and (max-width: 767px) {
  .reviews-content {
    margin-bottom: 20%;
  }

  .reviews-image__stars {
    width: 80%;
  }
}
