@import "../../sass/div.scss";

.header-images {
  @include div-middle-column;
}

.header-logo__image {
  display: block;
  @include centring-object;
  margin-top: 80px;
}

.header-company__image {
  display: block;
  @include centring-object;
  width: 80%;
  margin-top: 27px;
}

@media only screen and (max-width: 767px) {
  .header-images {
    @include div-middle-row;
    width: 100%;
    margin-top: -5%;
  }
  .header-logo {
    margin-left: 5%;
    margin-right: -15%;
  }
  .header-company {
    padding-top: 15%;
  }

  .header-logo__image {
    width: 30%;
  }

  .header-company__image {
    width: 30%;
  }
}
