.header-learn-more {
  margin: 4% auto 10% auto;
  transition: transform 0.1s;
}

.header-learn-more:hover {
  transform: scale(1.2);
}

.header-more1 {
  border: #d1898b 1px solid;
  width: 166px;
  height: 43px;
  position: relative;
  top: -10px;
  left: 15px;
}

.header-more2 {
  display: flex;
  margin: 20px;
  border: #d1898b 1px solid;
  width: 165px;
  height: 43px;
  position: relative;
  bottom: 70px;
}

.header-more2 a {
  font-family: "Open Sans", sans-serif;
  color: #eedacb;
  font-size: 17px;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 5px;
}
