.header-learn-more {
  margin: 4% auto 10% auto;
}

.header-more1 {
  border: #d1898b 1px solid;
  width: 166px;
  height: 43px;
  position: relative;
  top: -10px;
  left: 15px;
}

.header-more2 {
  display: flex;
  margin: 20px;
  border: #d1898b 1px solid;
  width: 165px;
  height: 43px;
  position: relative;
  bottom: 70px;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 160px;
  height: 36px;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 0;
  background: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.header-button::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d1898b;
  border-radius: 0 100% 0 0;
  z-index: -1;
  transition: all 0.3s;
}

.header-button:hover::before {
  top: 0px;
  border-radius: 0;
}

.header-button a {
  font-family: "Open Sans", sans-serif;
  color: #eedacb;
  font-size: 17px;
  text-decoration: none;
}

.header-button:hover a {
  color: black;
  font-weight: 600;
}
