.header-logo__image {
  width: 23%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.header-company__image {
  filter: invert(100%);
  width: 17%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
}
