

.header-learn-more {
  /* margin-top: 5%;
  margin-bottom: 10%; */
  /* width: 8%;
  height: 100px; */
  /* position: relative;   */
  margin:  5% auto 10% auto;
}

.header-more1 {
  border: pink 1px solid;
  width: 166px;
  height: 43px;
  position: relative;
  top: -11px;
  left: 15px;
}

.header-more2 {
  display: flex;
  margin: 20px;  
  border: pink 1px solid;
  width: 166px;
  height: 43px;
  position: relative;
  bottom: 70px;
}

a {
  font-family: "Open Sans", sans-serif;
  color: #eedacb;
  font-size: 17px;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 5px;
  
}
