@import "../../sass/div.scss";

.footer-middle {
  width: 8%;
}

.footer-logo {
  max-width: 100px;
  display: block;
  @include centring-object;
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .footer-logo {
    max-width: 60px;
    margin-left: -10px;
    margin-top: 0;
    margin-bottom: 6px;
  }
}
