@import "../../sass/font.scss";
@import "../../sass/div.scss";

.footer {
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1% 0 1% 0;
}

@media only screen and (max-width: 767px) {
  .footer {
    @include div-middle-column;
  }
}
