.footer {
  background-color: #d1898b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 25px 0;
}

.footer-logo {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
}

.footer-list a {
  color: black;
  font-size: 19px;
  letter-spacing: 1px;
  margin: 0 4px 0 4px;
}
