@import "../../sass/font.scss";

.social-media-background {
  background: $color-background-social-media;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3%;
}
